# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Alarmcentral.Console.iml
# Datasource local storage ignored files
/../../../../../../../:\H4\Alarmcentral\Alarmcentral.Console\.idea\.idea.Alarmcentral.Console\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
